@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #2b1055 0%, #7597de 100%);
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.left-column {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #7597de;
    padding-right: 30px;
}

.right-column {
    width: 470px;
    margin-left: 30px;
}

.card {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 900px;
    height: 600px;
    padding: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

h1,
h2 {
    font-size: 500;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: white;
}

.section {
    margin-bottom: 20px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
