<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <main>
        <div class="card">
            <div class="left-column">
                <img id="avatar" src=""/>
                <div class="highlights">
                    <h1>Name</h1>
                    <p>Class</p>
                    <p>University of Information Technology, VNUHCM</p>
                    <p>From Ho Chi Minh city</p>
                </div>
            </div>
            <div class="right-column">
                <div class="section">
                    <h2>About Me</h2>
                    <p>Write your info</p>
                </div>
                <div class="section">
                    <h2>My Hobbies</h2>
                    <p>What do you like?</p>
                </div>
                <div class="section">
                    <h2>My Future Goals</h2>
                    <p>Stay focus!!</p>
                </div>
                <div class="contacts">
                    <h2>Contacts</h2> 
                    <a href="">Mail</a><br> 
                    <a href="">Github</a><br> 
                    <a href="">Facebook</a> 
                </div>
            </div>
        </div>
    </main>
</body>
</html>