@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    min-width: none;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sec img
{
    width: 500px;
    margin-bottom: 10px;
}
header button ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header button ul li
{
    list-style: none;
    margin-left: 20px;
}
header button ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
header button ul li a:hover,
header button ul li a.active
{
    background: #fff;
    color: #2b1055;
}
header button
{
    background: none;
    border: none;
}
section
{
   position: relative; 
   width: 100%;
   height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
section::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 5000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#front
{
    z-index: 10;
}
div button ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
div button ul li
{
    list-style: none;
    margin-left: 20px;
}
div button ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
div button ul li a:hover,
div button ul li a.active
{
    background: #fff;
    color: #2b1055;
}
div button
{
    background: none;
    border: none;
}
#text
{
    position: absolute;
    top: 180px;
    right: 300px;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    z-index: 9;
    transform: translateY(10px);
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    color: #fff;
    background: #2b1055;
    font-size: 1.5em;
    font-weight: 500;
    z-index: 1000;
    transform: translateY(170px);
    transition: 0.2s;
}

#btn:hover {
    color: #2b1055;
    background: #fff;
}

.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: transform 0.6s ease-in-out;
    transition: transform 1s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1.2em;
    color: #fff;
}
iframe
{
    border: none;
    border-color: #1c0522;
    padding: 100px;
    width: 100%;
    height: 150vh;
    background-color: #1c0522;
}
iframe::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522);
    z-index: 5000;
}
a[id = "about"]:target ~ #about div.sec
{
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
a[id = "members"]:target ~ #members div.sec
{
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}

a[id = "contact"]:target ~ #contact div.sec
{
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
a[id = "Name-1"]:target ~ #Name-1 div.frame
{
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
a[id = "Name-2"]:target ~ #Name-2 div.frame
{
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}