*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }

html {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 450;
    line-height: 1;
    color: #ffffff;
}

body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(23,155,163,1) 61%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    position: relative;
    width: 50rem;
    height: 25rem;
    perspective: 150rem;
  }
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
    backface-visibility: hidden;
    overflow: hidden;
  }
  .card-front:before, .card-front:after, .card-back:before, .card-back:after {
    position: absolute;
  }
  .card-front:before, .card-back:before {
    top: -40px;
    right: -40px;
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.08);
    transform: rotate(45deg);
    z-index: 1;
  }
  .card-front:after, .card-back:after {
    content: "+";
    top: 0;
    right: 10px;
    font-size: 24px;
    transform: rotate(45deg);
    z-index: 2;
  }
  .card-front {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(23,56,163,1) 68%, rgba(0,212,255,1) 82%);
  }
  .card-front:after {
    color: #212f3c;
  }
  .card-back {
    background: linear-gradient(-45deg,rgba(2,0,36,1) 0%, rgba(23,56,163,1) 68%, rgba(0,212,255,1) 82%);
    transform: rotateX(180deg);
  }
  .card-back:after {
    color: #11181f;
  }
  .card:hover .card-front {
    transform: rotateX(-180deg);
  }
  .card:hover .card-back {
    transform: rotateX(0deg);
  }
#avatar{
    position:relative;
    width: 350px;
    padding: 10px;
    border-radius: 50%;
}
p{
    font-weight: 500;
    font-style: bold;
}
 #watermark{
    width: 70%;
    margin-bottom: 250px;
    position:absolute;
    margin-right: 150px;
}
#mascot{
    width: 70%;
    margin-top: 150px;
}
#mascot2{
  width:70%;
  margin-top: 130px;
} 